extends layout

block content
  hr
  .centered
    img(src='http://assets3.thrillist.com/v1/image/1269401/size/tl-horizontal_main/what-your-chipotle-order-says-about-you')
  hr
  if user
    h2 You are logged in! 
    p.lead Go to your profile to edit your order
    a.btn.btn-default(href='/account')
      | My Profile
  else
    h2 Not signed in
    p.lead Login or signup to get started!
    a.btn.btn-success(href='/login')
      | Login
    a.btn.btn-success#signupbutton(href='/signup')
      | Sign Up